<!DOCTYPE html>
<html :data-theme="themeController.theme">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css"/>
  </head>
  <body>
    <div class="controls">
      <template v-for="themeButton in themeController.themeButtons">
        <button @click="themeController.selectTheme(themeButton.id)">
          {{themeButton.label}}
        </button>
      </template>
    </div>
    <div id="header">
      <h1>'marks</h1>
    </div>
    <div id="content">
      <template v-if="!store.selectedBookmark">
        <div class="input-container">
          <label aria-label="Search" for="search"></label>
          <input
            placeholder="Search"
            @input="store.getBookmarks($event.target.value)"
            :value="store.searchString"
          ></input>
          <button
            class="sort"
            type="button"
            @click="store.toggleSort()"
            :value="store.isSorting"
          ></button>
          <button
            class="filter"
            type="button"
            @click="store.toggleFilter()"
            :value="store.isFiltering"
          ></button>
          <button class="new" type="button" @click="store.createBookmark()">+</button>
        </div>
        <nav>
          <ul id="bookmark-list" v-if="!store.isSearching && store.bookmarks.length > 0">
            <li v-for="bookmark in store.bookmarks" :key="bookmark.id">
              <a :href="bookmark.url">
                <div class="container">
                  <h2>{{bookmark.title}}</h2>
                  <p>{{bookmark.url}}</p>
                </div>
              </a>
              <button
                class="favorite"
                type="button"
                @click="store.toggleFavorite(bookmark.id)"
                :value="bookmark.isFavorite"
              ></button>
              <button type="button" @click="store.toggleEditing(bookmark.id)">✎</button>
            </li>
          </ul>
          <ul id="bookmark-list" v-else>
            <li>
              <div class="container">
                <h2>No bookmarks found</h2>
              </div>
            </li>
          </ul>
        </nav>
      </template>
      <template v-else>
        <div class="edit-container">
          <input placeholder="Title" :value="store.selectedBookmark?.title"></input>
          <input placeholder="URL" :value="store.selectedBookmark?.url"></input>
          <button type="button" @click="store.toggleEditing()">Cancel</button>
        </div>
      </template>
    </div>
  </body>
  <script type="module" src="scripts/index.js"></script>
</html>
