body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    ". search ."
    ". search ."
  ;
  font-family: sans-serif;
  background-color: #eee;
}
ul {
  list-style-type: none;
  padding: 0;
}

#content {
  grid-area: search;
  display: flex;
  flex-direction: column;
}

#search {
  background: #0f4cbb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  margin: 12px 0px;
  font-size: 1em;
}

nav {
  overflow: auto;
  max-height: 100%;
}

#header {
  grid-area: header;
}

h1 {
  display: flex;
  height: 100%;
  padding-bottom: 96px;
  justify-content: center;
  align-items: flex-end;
  font-weight: semi-bold;
  background: #175ddc;
  color: white;
}

li {
  background-color: white;
  border-bottom: 1px gainsboro solid;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding: 8px;
}

p, h1, h2, body, ul {
  margin:0px;
}

p {
  color: rgb(155, 155, 155);
  font-size: 1em;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  color:rgb(40, 40, 40)
}

nav {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
